#calculatorBody {
    width: 500px;
    margin: auto;
}

#calculatorContents {
    background-color: black;
    display: grid;
    padding: 4%;
    grid-template-columns: 25% 25% 25% 25%;
    border-radius: 5%;
}

#calculatorContents button {
    background-color: rgb(50,50,50);
    font-size: 50px;
    color: white;
    height: 0;
    width: 80%;
    padding-top: 24%;
    padding-bottom: 53%;
    margin: 10%;
    border-radius: 50%;
}