.calculatorBody {
    width: 500px;
    margin: auto;
}

.calculatorContents {
    background-color: black;
    display: grid;
    padding: 4%;
    grid-template-columns: 25% 25% 25% 25%;
    border-radius: 5%;
}

.calculatorContents #calculatorDisplay {
    background-color: rgb(5,5,5);
    grid-column-start: 1;
    grid-column-end: 5;
    height: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.calculatorContents button {
    background-color: rgb(50,50,50);
    font-size: 50px;
    color: white;
    justify-content: center;
    height: 0;
    width: 80%;
    padding-top: 16%;
    padding-bottom: 62%;
    margin: 10%;
    border-radius: 50%;
}

.calculatorContents button.miscButton {
    background-color: gray;
}

.calculatorContents button.operator {
    background-color: lightgray;
    color: black;
}

.calculatorContents button#submit {
    background-color: lightgreen;
}